{
  "plex": {
    "url":"https://plex.{{ user.domain }}",
    "interval":60,
    "token": "{{ plex_auth_token | default('') }}"
  },
  "nzbget": {
    "username":"{{ user.name }}",
    "password":"{{ user.pass }}",
    "url":"http://nzbget:6789",
    "speeds":{
      "1":20000,
      "2":17500,
      "3":15000,
      "4":12500,
      "5":10000
    },
    "max_speed":0
  },
  "notifications": {}
}
